body{
    color:gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 650px;
    margin: 0 auto 50px;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}
.div-contents{
    flex-grow: 1;
}

.portrait{
    width: 250px;
}

footer {
    color: gray;
    border-top: 1px solid gray;
    margin-top: 16px;
    padding: 16px 0;
    font-size: 2px;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
    text-decoration: none;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color:orange;
    margin-right: 16px;
    text-decoration: red;
}
input{
    border: 1px solid whitesmoke;
    padding: 1px;
}
button{
    cursor: pointer;
    border: 1px solid white;
    background: whitesmoke;
}