<!DOCTYPE html>

<html>

<head>
    <title>ERROR</title>
    <link rel="stylesheet" href="/cssfilespath/css1.css">
    <link rel="icon" href="/imagespath/weather.png>">
</head>

<body>
    <div class="div-content">
        {{>header}}
        {{error}}
    </div>

    {{>footer}}
</body>

</html>