<!DOCTYPE html>

<html>

<head>
    <title>ABOUT</title>
    <link rel="stylesheet" href="/cssfilespath/css1.css">
    <link rel="icon"  href="/imagespath/weather.png">
</head>

<body>
    <div class="div-contents">
        {{>header}}
        <p>This page is showing the Mercedes Benz Model GLS 450 4-Matic</p>
        <img class="portrait"  src="/imagespath/benz.jpg">
        <p>MODEL: {{name}}</p>
    </div>
    {{>footer}}
</body>

</html>